body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Roboto-b";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-l";
  src: url(./assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-m";
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-r";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-t";
  src: url(./assets/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Gotham-r";
  src: url(./assets/fonts/Gotham-Black-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}
